#include "planetes42.dtsi"

&default_transform {
  row-offset = <6>;
};

&kscan0 {
  
  // each hands use same GPIOs to map
  gpios = <&xiao_d 3 (GPIO_ACTIVE_HIGH)>  // 0
        , <&xiao_d 4 (GPIO_ACTIVE_HIGH)>  // 1
        , <&xiao_d 5 (GPIO_ACTIVE_HIGH)>  // 2
        , <&gpio0 9  (GPIO_ACTIVE_HIGH)>  // 3
        ;
};

&right_encoder {
  status = "okay";
};
