# Copyright (c) 2021-2025 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_ORBIT_ONE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Orbit One"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

config I2C
    default y

config ZMK_POINTING
    default y

config ZMK_POINTING_SMOOTH_SCROLLING
    default y

endif

if SHILD_ORBET_ON_RIGHT
# Do not sleep to avoid connction issue
config ZMK_SLEEP
    default n
endif

if SHIELD_ORBIT_ONE_LEFT || SHIELD_ORBIT_ONE_RIGHT

config ZMK_SPLIT
    default y

config EC11
  default y

endif
